html {
    background-color: whitesmoke;
    color: black;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    background-color: black;
    border-bottom: 3px solid lightslategray;
    z-index: 1000;
    color: white;
}

.heading-title h1 {
    margin: 0;
    margin-left: 25px;
}

nav ul {
    list-style: none;
    color: lightgray;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 40px 25px 10px 0;
    justify-content: flex-end;
}

nav ul li a {
    text-decoration: none;
    color: lightgray;
    font-weight: bold;
}

nav a:hover {
    border: 4px solid lightgray;
    border-radius: 10px;
    background-color: lightgray;
    color: gray;
}

.heading-title a:before {
    color: white;
}

.heading-title a:visited {
    color: white
}

main {
    margin-top: 150px;
}

#project-id {
    font-size: 40px;
    text-align: center
}


#projects a:visited {
    color: black;
}

#projects a:hover {
    border: 3px solid lightgray;
    border-radius: 10px;
    background-color: lightgray;
    color: blue;
}

a {
    text-decoration:none;
}